.search-container {
    max-width: 600px;
    margin: 0 auto;
}

.search-input {
    position: relative;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.suggestions-list {
    position: absolute;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-top: none;
    background-color: white;
    z-index: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.suggestions-list li {
    padding: 8px;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #f2f2f2;
}

.results {
    margin-top: 20px;
}

.results ul {
    list-style-type: none;
    padding: 0;
}

.results li {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

body {
    font-family: Georgia, sans-serif;
}

.results-header {
    color: grey;
  }

  .starship-details {
    background-color: #f0f0f0; /* Light grey background */
    padding: 15px;
    border-radius: 10px; /* Rounded corners */
    font-size: 0.9rem; /* Smaller font size */
    line-height: 1.6; /* Line height for better readability */
    margin-top: 10px;
  }
  
  .starship-details span {
    display: block; /* Make each span act like a block element (new line) */
    margin-bottom: 8px; /* Add space between each line */
  }
  
  .starship-details strong {
    font-weight: bold; /* Make category names bold */
  }

  .starship-info {
    background-color: #f9f9f9; /* Light grey background, slightly different shade from details */
    padding: 15px;
    border-radius: 10px; /* Rounded corners */
    font-size: 1rem; /* Slightly larger font size compared to details */
    margin-bottom: 15px;
    line-height: 1.6;
  }
  
  .starship-info span {
    display: block; /* Each info is on a new line */
    margin-bottom: 8px; /* Space between lines */
  }
  
  .starship-info .starship-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1e90ff; /* Nice blue color */
    margin-bottom: 10px;
  }
  
  .starship-info strong {
    font-weight: bold;
  }
  
  